/* TABLET */
@media screen and (min-width: 768px) {
  /* HEADER */
  .container {
    width: 90%;
    margin: 0 auto;
  }
  /* MAIN */
  /* Section 1 About us */
  #about-us .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
  }
  #about-us .cards .card {
    width: calc(100% / 3 - var(--gap-card));
    margin-bottom: calc(var(--gap-card) / 3);
  }
  #about-us .cards .card:first-child {
    width: calc((100% / 3) * 2 - (var(--gap-card) / 3));
  }
  /*Section 3 Partners*/
  #partners .col .card {
    display: flex;
  }
  /*Section 4 Partners*/
  #benefits .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-card);
  }
  #benefits .cards .card {
    width: calc(100% / 2 - var(--gap-card));
  }
  #benefits .card:not(:last-child) {
    margin-bottom: 0;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  /* HEADER */
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
  }
  .hamburger {
    display: none;
  }
  .navigation {
    display: block;
  }

  /*Section 1 About us*/
  #about-us .card:first-child {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
  }
  #about-us .card-img {
    margin-top: 0;
  }

  /*Section 2 Strategic Planning*/
  #strategic .row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  #strategic .card-txt {
    margin-bottom: 0;
  }

  /*Section 3 Partners*/

  #benefits .cards .card {
    width: calc(100% / 3 - var(--gap-card));
  }
}
