/* TABLET */
@media screen and (min-width: 768px) {
  /* HEADER */
  .container {
    width: 90%;
    margin: 0 auto;
  }

  #about-us .cards .card,
  #strategic .card,
  #partners .card,
  #benefits .card {
    padding: var(--padding-cards-tablet);
  }

  /* MAIN */
  /* Section 1 About us */
  #about-us .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
  }
  #about-us .cards .card {
    width: calc(100% / 3 - var(--gap-card));
    margin-bottom: calc(var(--gap-card) / 3);
  }
  #about-us .cards .card:first-child {
    width: calc((100% / 3) * 2 - (var(--gap-card) / 3));
  }

  #about-us .cards .card:last-child {
    margin-bottom: var(--mb-cards);
  }
  /* Icon Dimensions */
  #about-us .card i:not(.fa-apple) {
    font-size: 6rem;
  }

  /*Section 3 Partners*/
  #partners .col .card {
    display: flex;
  }
  #partners .col .card .partner-img {
    flex-shrink: 0;
  }

  /*Section 4 Benefits*/
  #benefits .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-card);
  }
  #benefits .cards .card {
    width: calc(100% / 2 - var(--gap-card));
  }
  #benefits .card:not(:last-child) {
    margin-bottom: 0;
  }

  /*Section 5 Quote*/
  #quote .container {
    display: flex;
  }

  /* Section 6 Call to Action */
  /* Footer */
  #call-to-action .container,
  footer .container {
    width: 60%;
    margin: 0 auto;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  /* HEADER */
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
  }
  .hamburger {
    display: none;
  }
  .navigation {
    display: block;
  }

  /*Section 1 About us*/
  #about-us .card:first-child {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
  }
  #about-us .card:first-child .card-text{
    width: 60%;
  }
  #about-us .card:first-child .card-img{
    width: 40%;
  }
  #about-us .card-img {
    margin-top: 0;
  }


  /*Section 2 Strategic Planning*/
  #strategic .row {
    display: flex;
    justify-content: space-between;   
    align-items: baseline;
    gap: 3em;
  }

  #strategic .card-txt {
    width: 60%;
    margin-bottom: 0;
  }

  #strategic .card-txt img{
    width: 70%;
  }
  
  #strategic .card{
    width: 40%;
  }

  #strategic .card img{
    width: 80%;
  }
  /*Section 3 Partners*/

  /*Section 4 Benefits*/
  #benefits .cards .card {
    width: calc(100% / 3 - var(--gap-card));
  }
  /* #benefits .cards .card {
    width: calc(100% / 3 - (var(--gap-card)) * 2 / 3);
  } */

  /* Section 6 Call to Action */

  /* Footer */
}
