/* TABLET */
@media screen and (min-width: 768px) {
  /* HEADER */
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
  }

  .hamburger {
    display: none;
  }

  .navigation{
    display: block;
  }
}
