/* HEADER */
.container {
  width: 85%;
  margin: 0 auto;
  padding: 2em 0;
  /* DEBUG */
  border: var(--black-border);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

header {
  background-color: var(--primary-color);
}

.hamburger {
  color: var(--white-color);
  font-size: 1.5rem;
}
.navigation ul {
  display: flex;
}

.navigation li {
  margin-left: 2rem;
  color: var(--white-color);
}

.navigation {
  display: none;
}
/* MAIN */
/* Section Common */
#about-us .cards .card,
#strategic .card,
#partners .card,
#benefits .card {
  border-radius: var(--border-radius-mini);
  padding: var(--padding-cards);
}

#about-us .cards .card:not(:last-child),
#strategic .card-txt,
#partners .card:not(:last-child),
#partners .partners-txt,
#benefits .card:not(:last-child) {
  margin-bottom: var(--mb-cards);
}

/* Section 1 About us */
#about-us .cards .card {
  background-color: var(--light-primary-color);
  /* DEBUG */
  border: var(--black-border);
}

#about-us .card-img {
  margin-top: 1em;
  /* DEBUG */
  background-color: lightpink;
  border: var(--black-border);
}

#about-us .card-text {
  /* DEBUG */
  background-color: rgb(255, 139, 156);
  border: var(--black-border);
}

/* Section 2 Strategic Planning */
#strategic {
  background-color: var(--secondary-color);
}

#strategic .card,
#strategic .card-txt {
  /* DEBUG */
  background-color: rgb(255, 139, 156);
  border: var(--black-border);
}

/*Section 3 Partners*/
#partners .card {
  background-color: var(--secondary-color);
  /* DEBUG */
  border: var(--black-border);
}

#partners .partner-img {
  text-align: center;
  height: 100%;
  /* DEBUG */
  background-color: rgb(179, 255, 187);
  border: var(--black-border);
}

#partners .partner-quote {
  /* DEBUG */
  background-color: rgb(255, 139, 156);
  border: var(--black-border);
}

/*Section 4 Partners*/
#benefits {
  background-color: var(--secondary-color);
}
#benefits .card {
  background-color: var(--white-color);
}

/*Section 5 Quote*/
#quote .quote-txt,
#quote .quote-image {
  /* DEBUG */
  background-color: rgb(255, 139, 156);
  border: var(--black-border);
}

/* Section 6 CTA */
#call-to-action {
  background-color: var(--secondary-color);
}
#call-to-action, footer{
  text-align: center;
}

/* FOOTER */
footer {
  /* DEBUG */
  background-color: lightslategray;
}

/* IMAGES */
#about-us .card-img img{
  width: 90%;
}
#partners .partner-img img {
 width: 20rem;
 height: 20rem;
 object-fit: cover;
}
#quote .quote-img img {
  width: 20%;
}
.img-round{
  border-radius: 50%;
}

/* BUTTONS */
.btn {
  padding: 1em 2em;
  border-radius: 4em;  
  display: inline-block;
  /* DEBUG */
  margin: 1em 0;
}
.btn-white-black{
  padding: 1em 2em;
  border-radius: 4em;  
  background-color: white;
  color: black;
}
.btn-blue {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.btn-purple {
  background-color: var(--secondary-color);
  color: white;
}
.btn-white {
  background-color: white;
  color: var(--secondary-color);
}
.btn-blue{
  background-color: var(--primary-color);
  color: white;
}
.btn-round {
  padding: 1.5em 1.7em;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: black;
}

