/* HEADER */
.container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    /* DEBUG */
    border: var(--black-border);
}

header{
    background-color: var(--primary-color);
}

.hamburger{
    color: white;
    font-size: 1.5rem;
}

/* MAIN */


/* FOOTER */