/* HEADER */
.container {
  width: 85%;
  margin: 0 auto;
  padding: 2em 0;
  /* DEBUG */
  border: var(--black-border);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

header {
  background-color: var(--primary-color);
}

.hamburger {
  color: var(--white-color);
  font-size: 1.5rem;
}
.navigation ul {
  display: flex;
}

.navigation li {
  margin-left: 2rem;
  color: var(--white-color);
}

.navigation {
  display: none;
}
/* MAIN */
/* Section Common */
#about-us .cards .card,
#strategic .card,
#partners .card,
#benefits .card {
  border-radius: var(--border-radius-mini);
  padding: var(--padding-cards);
}

#about-us .cards .card:not(:last-child),
#strategic .card-txt,
#partners .card:not(:last-child),
#partners .partners-txt,
#benefits .card:not(:last-child) {
  margin-bottom: var(--mb-cards);
}

/* Section 1 About us */
#about-us .cards .card {
  background-color: var(--light-primary-color);
  /* DEBUG */
  border: var(--black-border);
  height: 400px;
}

#about-us .card-img {
  margin-top: 1em;
  /* DEBUG */
  background-color: lightpink;
  border: var(--black-border);
}

#about-us .card-text {
  /* DEBUG */
  background-color: rgb(255, 139, 156);
  border: var(--black-border);
}

/* Section 2 Strategic Planning */
#strategic {
  background-color: var(--secondary-color);
}

#strategic .card,
#strategic .card-txt {
  /* DEBUG */
  background-color: rgb(255, 139, 156);
  border: var(--black-border);
  height: 200px;
}

/*Section 3 Partners*/
#partners .card {
  background-color: var(--secondary-color);
  /* DEBUG */
  border: var(--black-border);
  height: 200px;
}

#partners .partner-img {
  /* DEBUG */
  background-color: rgb(255, 139, 156);
  border: var(--black-border);  
}

#partners .partner-quote {
  /* DEBUG */
  background-color: rgb(255, 139, 156);
  border: var(--black-border);  
}

/*Section 4 Partners*/
#benefits{
  background-color: var(--secondary-color);
}
#benefits .card{
  background-color: var(--white-color);
}

/*Section 5 Quote*/
#quote .quote-txt,
#quote .quote-image{
   /* DEBUG */
   background-color: rgb(255, 139, 156);
   border: var(--black-border); 
   height: 100px; 
}

/* FOOTER */
